* {
  margin: 0;
  padding-top: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: aller;
  src: url(../asset/ttf/Aller_Std_Bd.ttf) format("truetype");
}
@font-face {
  font-family: roboto;
  src: url(../asset/ttf/Roboto-Regular.ttf) format("truetype");
}
a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
}

.container, .header_container, .footer__container {
  margin: 0 auto;
}

.footer {
  background-color: rgb(7, 34, 62);
  color: whitesmoke;
  padding: 60 px 20px;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__container_list {
  padding: 20px;
}
.footer__container_apn {
  padding: 20px;
}
.footer__container_apn img {
  width: 100px;
  height: 100px;
}
.footer__container_redes {
  padding: 20px;
}
.footer__container_sumate {
  padding: 20px;
}
.footer .small {
  color: rgba(240, 248, 255, 0.673);
  text-align: center;
}

.header {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 30px 20px;
}
.header_container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_container .header-fluid {
  display: flex;
}
.header_container_navbar-nav {
  display: flex;
}
.header_container_navbar-nav .nav-item {
  padding: 15px;
  margin: 0 15px;
  color: whitesmoke;
  font-family: aller;
  font-size: 24px;
}
.header_container_navbar-nav .nav-item a:hover {
  text-shadow: 4px 3px 2px rgb(82, 223, 255);
}
.header_container a img {
  width: 200px;
  height: 200px;
  padding: 15px;
}

main {
  background-color: rgb(86, 120, 155);
}
main h1 {
  padding: 10px;
  font-family: aller;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
main .flexbox_container {
  display: flex;
  justify-content: center;
}
main .carousel {
  padding: 10px;
  height: fit-content;
  width: fit-content;
}
main .carousel-item img {
  object-fit: contain;
}
main .texto-cabecera-index {
  padding: 15px;
  display: grid;
  text-align: center;
}
main .hero {
  padding: 60px 20px;
}
main .hero__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}
main .hero__container p {
  margin-bottom: 40px;
  font-family: roboto;
  color: whitesmoke;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
}
main .hero__container iframe {
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
h3 {
  font-family: aller;
  color: white;
  font-size: 24px;
  margin: 5px;
  padding: 15px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.geografia_cards {
  margin-top: 60px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.familia-animal_cards {
  margin-top: 60px;
  padding: 0 20px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  margin-block-end: 20px;
  background-color: rgb(86, 120, 155);
}
.card:hover {
  transform: translateY(-15px);
}

.card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: contain;
}

.card__title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.card__description {
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.h1form {
  display: flex;
  justify-content: center;
}

.form_container {
  width: 100%;
  display: flex;
  padding: 15px;
}
.form_container .form {
  width: 100%;
  height: 450px;
  color: whitesmoke;
  font-family: roboto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.form_container .label {
  display: flex;
  align-items: center;
}
.form_container input {
  outline: 0;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
.form_container input:focus {
  border: 2px solid rgb(0, 185, 253);
}
.form_container .checkbox {
  display: flex;
}
.form_container .button {
  border-radius: 10px;
}
