/*HEADER
.header {
    background-color: rgb(18, 86, 155);
    padding: 30px 20px;
}
.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;s
    align-items: center;
}
.header a img{
    width: 200px;
    height: 200px;
    padding: 15px;
}
.header nav ul {
    list-style: none;
}
.header nav ul li{
    padding: 15px;
}
.header nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-family: aller;
    font-size: 24px;
}
.header nav ul li a:hover{
    text-shadow: 4px 3px 2px rgb(82, 223, 255);
}
.header_container_navbar {
    display: none;
}

/*MAIN INDEX*/
main {
    background-color: rgb(86, 120, 155);
}
h1 {
    font-family: aller;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.flexbox_container {
    display: flex;
    justify-content: center;
}
.carousel {
    height: fit-content;
    width: fit-content;
}
.carousel-item img {
    object-fit: contain;
}
p {
    font-family: roboto;
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
}
.hero {
        padding: 60px 20px;
    }
.hero__container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
.hero__container-p {
        margin-bottom: 40px;
    }
.hero__container-iframe {
        width: 75%;
        border-radius: 10px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    }

/*MAIN GEOGRAFIA*/
h3 {
    font-family: aller;
    color: white;
    font-size: 24px;
    margin: 5px;
    padding: 15px;
}
p {
    font-size: 20px;
    line-height: 1.5;
}
.geografia_cards {
    margin-top: 60px;
    padding: 0 20px;
}

/*MAIN FAMILIA ANIMAL*/
.familia-animal_cards {
    margin-top: 60px;
    padding: 0 20px;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    margin-block-end: 20px;
}
.card__header img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: contain;
}
.card__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.card__description {
    margin-bottom: 40px;
    text-align: center;
}

/*MAIN CONTACTO*/
.h1form {
    display: flex;
    justify-content: center;
}
.form-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}
.form {
    height: 450px;
    color: whitesmoke;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.label {
    display: flex;
    align-items: center;
}
input {
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
input:focus {
    border: 2px solid rgb(0, 185, 253);
}
.checkbox {
    display: flex;
}
.button {
    border-radius: 5px;
} 

/*FOOTER*/
footer {
    background-color: rgb(7, 34, 62);
    color: whitesmoke;
}

/*MEDIA QUERIES*/
@media (min-width: 700px) {
    .header_container_navbar {
        display: flex;
    }

    .header_container_navbar li {
        margin: 0 15px;
    }
    
    .header_container_navbar li a {
        color: #e2e8f0;
    }

    .header_container_navbar_mobile {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}