.footer {
    background-color: rgb(7, 34, 62);
    color: $fontLight;
    padding: 60 px 20px;

    &__container {
        @extend .container;
        @include templateGrid($bpMedium, 4);
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        &_list {
            padding: 20px;
            h4:hover {
                color: $ahover;
            }
        }
        &_apn {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4:hover {
                color: $ahover;
            }
            img {
                width: 85px;
                height: 85px;
                &:hover {
                    color: rgb(167, 166, 166);
                    filter: drop-shadow(0 0 15px);
                }
            }
        }
        &_redes {
            padding: 20px;
            a {
                padding: 5px;
                transition: .5s linear;
            &:hover {
                color: floralwhite;
                filter: drop-shadow(0 0 10px);
            }
        }
        }
        &_sumate {
            padding: 20px; 
            h4:hover {
                color: $ahover;
            }
        }
    }
     .small {
        color: rgba(240, 248, 255, 0.673);
        text-align: center;
    }
}