.footer {
    background-color: rgb(7, 34, 62);
    color: $fontLight;
    padding: 60 px 20px;

    &__container {
        @extend .container;
        @include templateGrid($bpMedium, 4);
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        &_list {
            padding: 20px;
        }
        &_apn {
            img {
                width: 100px;
                height: 100px;
            }
        }
        &_redes {
        }
        &_sumate {

        }
    }
    small {
        color: rgba(240, 248, 255, 0.673);
    }
}