* {
    margin: 0;
    padding-top: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: aller;
    src: url(../asset/ttf/Aller_Std_Bd.ttf) format("truetype");
}

@font-face {
    font-family: roboto;
    src: url(../asset/ttf/Roboto-Regular.ttf) format("truetype");
}

a {
    text-decoration: none;
    color: $fontLight;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.5;
    color: $fontLight;
}

h1 {
    color: $fontLight;
}

h2 {
    color: $fontLight;
}

h3 {
    color: $fontLight;
}

h4 {
    color: $fontLight;
}

// extend
.container {
    margin: 0 auto;
}

// mixin
@mixin templateGrid($bp, $colDesktop) {
    // vista mobile
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    // vista desktop
    @media (min-width: $bp) {
        grid-template-columns: repeat($colDesktop, 1fr);
    }
}