// colores
$fontLight: whitesmoke;
$bgprimary: rgb(86, 120, 155);

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// default
$borderRadius: 10px;
$boxShadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
